.sidebar {
    background-color: #1d1d1d;
    color: #eeeeee;
    padding: 10px;
    width: 260px;
}

.logo {
    border-bottom: 1px solid #eeeeee;
    height: 90px;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.links a {
    text-decoration: none;
    color: #eeeeee;
    padding: 5px;
    font-weight: 500;
    border-radius: 5px;
}

.links a:hover {
    background-color: #C3E0E4;
    color: #1d1d1d;
    transition: 0.8s;
}